Same usecase we are going to solve using regression  for finding salary of a customer

In [45]:
import pandas as pd  
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder 
import pickle

In [46]:
df=pd.read_csv("Churn_Modelling.csv")
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [47]:
#Estimated salary is the output feature and remaing all are the input feature

In [48]:
#Preprocess the data
df.drop(labels=["RowNumber","CustomerId","Surname"],axis=1,inplace=True)

In [49]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [50]:
#Encode the Categorical Variables
#Label encoder for gender
label_encoder_gender=LabelEncoder()
df["Gender"]=label_encoder_gender.fit_transform(df["Gender"])

In [51]:
#onehot ecnoding for geograhpy
onehot_enoder_geo=OneHotEncoder()
geo_encoded=onehot_enoder_geo.fit_transform(df[["Geography"]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_enoder_geo.get_feature_names_out(["Geography"]))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [52]:
#Combine onehot encoded columns with original data 
df=pd.concat([df.drop("Geography",axis=1),geo_encoded_df],axis=1)

In [53]:
df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

Dividing The input and Output Features

In [54]:
X=df.drop("EstimatedSalary",axis=1)
y=df["EstimatedSalary"]

Train Test Split

In [55]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

Standardization

In [56]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [57]:
#Saving all encoders and scaler in pickle formats in furthur use
with open("label_encoder_gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)

with open("onehot_encoder_geo.pkl",'wb') as file:
    pickle.dump(onehot_enoder_geo,file)

with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

ANN Regression Problem Statement

In [58]:
import tensorflow as tf  
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

Model Building

In [59]:
model=Sequential([
    Dense(64,activation="relu",input_shape=(X_train.shape[1],)),#HL1
    Dense(32,activation="relu"),#HL2
    Dense(1) #output layer
])

#compile the model
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])

In [60]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

setting Up logs

In [61]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

#set up tensorboard
log_dir="regression/fit/" +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorBoard_callback=TensorBoard(log_dir,histogram_freq=1)

In [62]:
#setting up early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

Training the model

In [63]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorBoard_callback]
)

Epoch 1/100
250/250 [==============================] - 2s 5ms/step - loss: 100381.7109 - mae: 100381.7109 - val_loss: 98528.9609 - val_mae: 98528.9609
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99660.6953 - mae: 99660.6953 - val_loss: 97057.2734 - val_mae: 97057.2734
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 97093.5859 - mae: 97093.5859 - val_loss: 93287.8750 - val_mae: 93287.8750
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 92024.1016 - mae: 92024.1016 - val_loss: 86957.4453 - val_mae: 86957.4453
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 84586.6016 - mae: 84586.6016 - val_loss: 78747.6094 - val_mae: 78747.6094
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 75769.0000 - mae: 75769.0000 - val_loss: 70035.0234 - val_mae: 70035.0234
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 67066.7656 - mae: 67066.7656 - val_loss: 62253.2578 - val_mae: 62253.2578
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 59865.5273 - mae: 59865.5273 - val_loss: 56460.0195 - val_mae: 56460.0195
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 55064.2266 - mae: 55064.2266 - val_loss: 53164.7617 - val_mae: 53164.7617
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 52317.7344 - mae: 52317.7344 - val_loss: 51556.4688 - val_mae: 51556.4688
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 51029.2852 - mae: 51029.2852 - val_loss: 51019.9219 - val_mae: 51019.9219
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50546.1094 - mae: 50546.1094 - val_loss: 50851.8203 - val_mae: 50851.8203
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50349.5156 - mae: 50349.5156 - val_loss: 50771.7266 - val_mae: 50771.7266
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50247.9297 - mae: 50247.9297 - val_loss: 50710.1172 - val_mae: 50710.1172
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50174.1484 - mae: 50174.1484 - val_loss: 50654.5078 - val_mae: 50654.5078
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50112.0352 - mae: 50112.0352 - val_loss: 50617.4336 - val_mae: 50617.4336
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 50058.3398 - mae: 50058.3398 - val_loss: 50585.7188 - val_mae: 50585.7188
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50015.3750 - mae: 50015.3750 - val_loss: 50548.3398 - val_mae: 50548.3398
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49980.5078 - mae: 49980.5078 - val_loss: 50524.6406 - val_mae: 50524.6406
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49944.1328 - mae: 49944.1328 - val_loss: 50504.0430 - val_mae: 50504.0430
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49914.8516 - mae: 49914.8516 - val_loss: 50478.7930 - val_mae: 50478.7930
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49883.6602 - mae: 49883.6602 - val_loss: 50476.0352 - val_mae: 50476.0352
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49857.3164 - mae: 49857.3164 - val_loss: 50452.0977 - val_mae: 50452.0977
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49831.8867 - mae: 49831.8867 - val_loss: 50437.2773 - val_mae: 50437.2773
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49808.9766 - mae: 49808.9766 - val_loss: 50418.8164 - val_mae: 50418.8164
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49789.7539 - mae: 49789.7539 - val_loss: 50418.6445 - val_mae: 50418.6445
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49773.2188 - mae: 49773.2188 - val_loss: 50400.8516 - val_mae: 50400.8516
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49753.3438 - mae: 49753.3438 - val_loss: 50386.3984 - val_mae: 50386.3984
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49733.8867 - mae: 49733.8867 - val_loss: 50378.5156 - val_mae: 50378.5156
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49716.8086 - mae: 49716.8086 - val_loss: 50369.9453 - val_mae: 50369.9453
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49703.7148 - mae: 49703.7148 - val_loss: 50371.1367 - val_mae: 50371.1367
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49690.8633 - mae: 49690.8633 - val_loss: 50365.2227 - val_mae: 50365.2227
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49674.8555 - mae: 49674.8555 - val_loss: 50361.0742 - val_mae: 50361.0742
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49667.5703 - mae: 49667.5703 - val_loss: 50345.3203 - val_mae: 50345.3203
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49653.3281 - mae: 49653.3281 - val_loss: 50343.9805 - val_mae: 50343.9805
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49642.1328 - mae: 49642.1328 - val_loss: 50344.1055 - val_mae: 50344.1055
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49629.3828 - mae: 49629.3828 - val_loss: 50336.1719 - val_mae: 50336.1719
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49621.8164 - mae: 49621.8164 - val_loss: 50331.1992 - val_mae: 50331.1992
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49612.4844 - mae: 49612.4844 - val_loss: 50337.8633 - val_mae: 50337.8633
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49600.6758 - mae: 49600.6758 - val_loss: 50328.1211 - val_mae: 50328.1211
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49593.2305 - mae: 49593.2305 - val_loss: 50324.5273 - val_mae: 50324.5273
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49583.6406 - mae: 49583.6406 - val_loss: 50336.7227 - val_mae: 50336.7227
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49575.9531 - mae: 49575.9531 - val_loss: 50327.2188 - val_mae: 50327.2188
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49568.1250 - mae: 49568.1250 - val_loss: 50325.1719 - val_mae: 50325.1719
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49560.0156 - mae: 49560.0156 - val_loss: 50320.0117 - val_mae: 50320.0117
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49551.2266 - mae: 49551.2266 - val_loss: 50311.8086 - val_mae: 50311.8086
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49547.3828 - mae: 49547.3828 - val_loss: 50316.0508 - val_mae: 50316.0508
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49539.2305 - mae: 49539.2305 - val_loss: 50308.4531 - val_mae: 50308.4531
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49533.8516 - mae: 49533.8516 - val_loss: 50310.3242 - val_mae: 50310.3242
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49526.1172 - mae: 49526.1172 - val_loss: 50300.3203 - val_mae: 50300.3203
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49518.8359 - mae: 49518.8359 - val_loss: 50304.9414 - val_mae: 50304.9414
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49514.3047 - mae: 49514.3047 - val_loss: 50302.3555 - val_mae: 50302.3555
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49506.4102 - mae: 49506.4102 - val_loss: 50302.3984 - val_mae: 50302.3984
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49500.2539 - mae: 49500.2539 - val_loss: 50294.8984 - val_mae: 50294.8984
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49496.5156 - mae: 49496.5156 - val_loss: 50288.2227 - val_mae: 50288.2227
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49491.3711 - mae: 49491.3711 - val_loss: 50295.4258 - val_mae: 50295.4258
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49485.3359 - mae: 49485.3359 - val_loss: 50293.2969 - val_mae: 50293.2969
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49480.8828 - mae: 49480.8828 - val_loss: 50301.4102 - val_mae: 50301.4102
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 49474.0977 - mae: 49474.0977 - val_loss: 50304.4023 - val_mae: 50304.4023
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49476.5977 - mae: 49476.5977 - val_loss: 50314.6484 - val_mae: 50314.6484
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49467.9453 - mae: 49467.9453 - val_loss: 50294.0859 - val_mae: 50294.0859
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 49459.9961 - mae: 49459.9961 - val_loss: 50282.4609 - val_mae: 50282.4609
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49456.0039 - mae: 49456.0039 - val_loss: 50289.0312 - val_mae: 50289.0312
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 49455.0430 - mae: 49455.0430 - val_loss: 50303.7031 - val_mae: 50303.7031
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49446.6562 - mae: 49446.6562 - val_loss: 50287.0469 - val_mae: 50287.0469
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 49441.8828 - mae: 49441.8828 - val_loss: 50280.7305 - val_mae: 50280.7305
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 49439.7305 - mae: 49439.7305 - val_loss: 50277.5977 - val_mae: 50277.5977
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 49437.2227 - mae: 49437.2227 - val_loss: 50283.4141 - val_mae: 50283.4141
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 49430.6406 - mae: 49430.6406 - val_loss: 50280.1289 - val_mae: 50280.1289
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 49427.2266 - mae: 49427.2266 - val_loss: 50285.5742 - val_mae: 50285.5742
Epoch 71/100
250/250 [==============================] - 1s 4ms/step - loss: 49422.2461 - mae: 49422.2461 - val_loss: 50277.3906 - val_mae: 50277.3906
Epoch 72/100
250/250 [==============================] - 1s 4ms/step - loss: 49419.7891 - mae: 49419.7891 - val_loss: 50277.2734 - val_mae: 50277.2734
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 49417.3281 - mae: 49417.3281 - val_loss: 50291.0703 - val_mae: 50291.0703
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 49411.9844 - mae: 49411.9844 - val_loss: 50282.0898 - val_mae: 50282.0898
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 49408.8672 - mae: 49408.8672 - val_loss: 50283.8477 - val_mae: 50283.8477
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 49404.5625 - mae: 49404.5625 - val_loss: 50286.2148 - val_mae: 50286.2148
Epoch 77/100
250/250 [==============================] - 1s 4ms/step - loss: 49402.6016 - mae: 49402.6016 - val_loss: 50279.8672 - val_mae: 50279.8672
Epoch 78/100
250/250 [==============================] - 1s 4ms/step - loss: 49395.8750 - mae: 49395.8750 - val_loss: 50287.4688 - val_mae: 50287.4688
Epoch 79/100
250/250 [==============================] - 1s 4ms/step - loss: 49393.4883 - mae: 49393.4883 - val_loss: 50286.5664 - val_mae: 50286.5664
Epoch 80/100
250/250 [==============================] - 1s 4ms/step - loss: 49392.9336 - mae: 49392.9336 - val_loss: 50288.4414 - val_mae: 50288.4414
Epoch 81/100
250/250 [==============================] - 1s 4ms/step - loss: 49392.5469 - mae: 49392.5469 - val_loss: 50298.8008 - val_mae: 50298.8008
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 49382.1523 - mae: 49382.1523 - val_loss: 50291.7031 - val_mae: 50291.7031

In [64]:
#Load tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [65]:
#%tensorboard --logdir regression/fit

Model evaluation on test data

In [66]:
print(model.evaluate(X_test,y_test))

63/63 [==============================] - 0s 2ms/step - loss: 50277.2734 - mae: 50277.2734
[50277.2734375, 50277.2734375]

In [67]:
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f"Test Loss: {test_loss}")
print(f"Test MAE: {test_mae}")

63/63 [==============================] - 0s 2ms/step - loss: 50277.2734 - mae: 50277.2734
Test Loss: 50277.2734375
Test MAE: 50277.2734375

saving the model using .h5 format

In [68]:
model.save("regression_model.h5")

d:\Deep Learning Project Using ANN\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(